*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/imagebg.png);
    
}

li{
    list-style: none;
}

form.form-busq{
    margin-right: -100px;
}

nav.menunav{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 100%;
    align-items: center;
}

nav.menunav h2{
    color: rgb(255,255,255);
    padding: 2px;
    margin: 20px 20px 20px 10px;
    border: solid 2px rgb(255,255,255);
    border-radius: 20%;
}

ul.navigation{
    display: flex;
}

ul.navigation{
    font-size: 70%;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: rgb(0, 0, 0);
    left: -100%;
    transition: all .5s;
    position:fixed;
    top: 40px;
}



#barras:checked ~ ul{
    left: 0;
    display: flex;
}

ul.navigation li{
    padding: 0 1.5%;
    text-transform: lowercase;
    display: block;
    margin: 5%;
}

ul.navigation li a{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 140%;
}

div#toggle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.boton{
    font-size: 140%;
    color: white;
}

#barras{
    display: none;
}

a.movimiento, a:hover{
    transition: .5s;
    text-decoration: none;
}

div.busqcontain{
    display: flex;
    max-width: 100px;
    align-items: center;
    font-size: 130%;
    margin-left: 15%;
    margin-right: 0;
}

.navcontent{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

input{
    max-width: 35%;
    font-size: 70%;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid rgb(255, 255, 255);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

button{
    background-color: transparent;
    border: none;
}

button i{
    font-size: 70%;
    color: rgb(255,255,255)
}

div.footer{
    background-color: rgb(0, 0, 0);
    margin-bottom: 0%;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-grow: 0;
}

ul.ulfoot{
    display: flex;
    font-size: 60%;
    justify-content: space-between;
}

.ulfoot li{
    margin: 0 10px
}

.ulfoot li a{
    color: white;
    text-decoration: none;
}

.titulos1{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2%;
    text-transform: uppercase;
}

.canciones{
    display: flex;
    max-width: 95%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.structure{
    justify-content: space-between;
    margin: 5% auto;
    display: flex;
    border: solid 2px rgb(0, 0, 0);
    padding: 3%;
    background-color: rgb(214, 193, 0);
    align-items: center;
}

.structure img{
    width: 40%;
    height: 40%;
    border-radius: 100%;
}

.structure h3, .structure h5{
    border-top: double 5px black;
    border-bottom: double 5px black;
} 

.img {
    width: 80px;
    height: 100px;
}
   
.decoration {
    color: black;
    text-decoration: none;
}
.displayflex {
display: flex;
min-width: 20%;
}
.titulos1 {
text-align: left;
font-size: 100%;
}
.titulos2 {
    text-align: left;
    font-size: 80%;
}

.tituloplaylist  {
    color: white;
    background-color: #000000de;
    padding: 1%;
    border-radius: 13px;
    font-size: 150%;
    }
    .medioplaylist {display: grid;
        gap: 45px;
         padding: 40px; 
         

    }
    .cuadrocancionesf {padding: 10px;
        text-align: left; 
        background-color: #2a2828d9;
        box-sizing: content-box;
         border-radius: 10px; height: 100%; width: 100%;
        
        }
    .titulos-medio-playlist
    {
        color: honeydew;
        
    }
    

@media (min-width: 720px) {
    nav.menunav{height:60px; justify-content: flex-end;}
    ul.navigation li{ display: block;}
    div#toggle i{display: none;}
    ul.navigation{
        background-color: rgb(0, 0, 0);
        left: 0;
        transition: none;
        width: 60%;
        margin-left: 10%;
        font-size: 120%;
        position: initial;
        justify-content: space-evenly;
    }
    div.busqcontain{
        font-size: 200%;
        margin-right: 15%;
    }
    form.form-busq button{
        font-size: 80%;
    }
    #barras{display: none;}
    nav.menunav h2{margin-right: 10%;}
}
.resultados-chart
{ 
    display: flex;
    flex-direction: initial;
    justify-content: center;
    text-align-last: center;
    gap: 180px;
    background-image: url(../img/fotarda.jpg);
    border-radius: 13px;
    

}
.titulos-chart-rdb
{
    color:black;
    border-top: double 5px #eeeeeea3;
    border-bottom: double 5px #eeeeeea3;
    text-align-last: center;
    border-radius: 13px;

}
.titulo-rdb{
    color: white;
    background-color: #000000de;
    padding: 1%;
    border-radius: 13px;
    font-size: 150%;
}

.linksrdb{
    border-bottom: double 5px black;
    text-decoration: none;
    color: black;
 
}
.divlinks-rdb
{
    padding: 11px;
}
.columnas-rdb
{
    background-color: #eee6;
}