*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/imagebg.png);
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1, h2, h3{font-size: 10px;}

li{
    list-style: none;
}

nav.menunav{
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 40px;
    width: 100%;
    align-items: center;
}

nav.menunav h2{
    color: rgb(214,193,0);
    padding: 2px;
    margin: 20px 20px 20px 10px;
    border: solid 2px rgb(214, 193, 0);
    border-radius: 10%;
}

ul.navigation{
    display: flex;
}

ul.navigation{
    font-size: 70%;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: rgb(0, 0, 0);
    left: -100%;
    transition: all .5s;
    position:fixed;
    top: 40px;
}



#barras:checked ~ ul{
    left: 0;
    display: flex;
}

ul.navigation li{
    padding: 0 1.5%;
    text-transform: lowercase;
    display: block;
    margin: 5%;
}

ul.navigation li a{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 100%;
}

article#toggle{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.boton{
    font-size: 100%;
    color: white;
}

#barras{
    display: none;
}

a.movimiento, a:hover{
    transition: .5s;
    text-decoration: none;
}

article.busqcontain{
    display: flex;
    max-width: 100px;
    align-items: center;
    font-size: 100%;
    margin-left: 15%;
    margin-right: 0;
    text-align: right;
}

.navcontent{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

input{
    max-width: 35%;
    font-size: 70%;
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid rgb(255, 255, 255);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

button{
    background-color: transparent;
    border: none;
}

button i{
    font-size: 70%;
    color: rgb(255,255,255)
}

article.footer{
    background-color: rgb(0, 0, 0);
    margin-bottom: 0%;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    flex-grow: 0;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

ul.ulfoot{
    display: flex;
    font-size: 60%;
    justify-content: space-between;
}

.ulfoot li{
    margin: 0 10px
}

.ulfoot li a{
    color: white;
    text-decoration: none;
}



.titulos1{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2%;
    text-transform: uppercase;
}





.canciones{
    max-width: 90%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.structure{
    justify-content: space-between;
    margin: 5% auto;
    display: flex;
    border: solid 2px rgb(0, 0, 0);
    padding: 3%;
    background-color: rgb(214, 193, 0);
    align-items: center;
}

.structure img{
    border-radius: 100%;
}

.structure h3, .structure h5{
    border-top: double 5px black;
    border-bottom: double 5px black;
} 

.img {
    height: 80px;
}
   
.decoration {
    color: black;
    text-decoration: none;
}

.displayflex {
display: flex;
min-width: 20%;
}

.titulos1 {
text-align: left;
font-size: 100%;
}
.titulos2 {
    text-align: left;
    font-size: 80%;
}

.tituloplaylist  {
    color: white;
    background-color: #000000de;
    padding: 1%;
    border-radius: 13px;
    font-size: 100%;
    }
    .medioplaylist {display: grid;
        gap: 45px;
         padding: 40px; 
         

    }
    .cuadrocancionesf {padding: 10px;
        text-align: left; 
        background-color: #2a2828d9;
        box-sizing: content-box;
         border-radius: 10px; height: 100%; width: 100%;
         background-image: url(../img/fotarda.jpg);
        
        }
    .titulos-medio-playlist
    {
        color: honeydew;
        
    }
    
.resultados-chart
{ 
    flex-direction: initial;
    justify-content: center;
    text-align-last: center;
    gap: 180px;
    background-image: url(../img/fotarda.jpg);
    border-radius: 13px;
    

}
.titulos-chart-rdb
{
    color:black;
    border-top: double 5px #eeeeeea3;
    border-bottom: double 5px #eeeeeea3;
    text-align-last: center;
    border-radius: 13px;

}
.titulo-rdb{
    color: white;
    background-color: #000000de;
    padding: 1%;
    border-radius: 13px;
    font-size: 150%;
}

.linksrdb{
    border-bottom: double 5px black;
    text-decoration: none;
    color: black;
 
}
.divlinks-rdb
{
    padding: 11px;
}
.columnas-rdb
{
    background-color: #eee6;
}
.links-cancionesfav
{
    background-color: #ffffffba;
    text-decoration: none; 
    border-bottom: double 5px black;  
    color: black;
}



.divgeneros{
    background-color:rgb(214, 193, 0);
    text-align: center;
}

.divgeneros img{
    width: 100%;
    height: 200px;
}

a{text-decoration: none;}

.detailsongs{
    background-color: rgba(179, 179, 179, 0.582);
    color: rgb(0, 0, 0);
    border-radius: 35px;
    padding: 10px;
    margin: 15px;
}

.detailsongs audio{
    max-width: 100%;
    
}


div.detailsongs a{color: rgb(0, 0, 0);}

.artistasimg {
    width:100%;
}
.detailalbum .img {
    width:100%;
    height: unset;
}

.detailartist{
    background-color: rgba(5, 4, 4, 0.796);
    color: rgba(255, 255, 255, 0.809);
    border-radius: 35px;
    padding: 10px;
    margin: 15px;
}

.detailalbum{
    background-color: rgba(5, 4, 4, 0.796);
    color: rgba(255, 255, 255, 0.809);
    border-radius: 35px;
    padding: 10px;
    margin: 15px;
}

.detailalbum a{color: white;}
.detailalbum ul li, p{
    font-weight: 700;
}

footer{
    position: absolute;
    bottom: auto;
}

article.detailsongs img.img{width: 100%; height: 40%;}

.detailalbum h2{
    font-size: larger;
}

article.detailsongs h2,h3{font-size: larger;}

article.genresvariados ul img{width: 60%;}

article.genresvariados h1{
    text-align: center;
}

article.genresvariados ul li{
    list-style: none;
    text-indent: -30px;
    background-color: black;
    color: white;
}

article.genresvariados{
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
}

section.genres{
    text-align: center;
    width: auto;
}

h1.title{
    background-color: black;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 5px;
    padding: 15px 0;
    text-transform: uppercase;
    font-weight: 600;
}

article.genresvariados h1{
    font-size: larger;
}

@media (min-width: 720px) {
    body{width: 100%;}
    nav.menunav{height:60px; justify-content: flex-start;}
    nav.menunav h2{font-size: 150%;}
    article.busqcontain{padding: 10%}
    ul.navigation li{ display: block;}
    ul.navigation li i{color: white;}
    article#toggle i{display: none;}
    ul.navigation{
        background-color: rgb(0, 0, 0);
        left: 0;
        transition: none;
        width: 60%;
        margin-left: 10%;
        font-size: 120%;
        position: initial;
        justify-content: space-evenly;
    }
    article.busqcontain{
        font-size: 200%;
        margin-right: 15%;
    }
    form.form-busq button{
        font-size: 80%;
    }

    .album{display: flex; width: 100%;}
    div.detailalbum{width: 20%;}
    article.detailalbum img.img{height: 25%; width: 100%;}

    #barras{display: none;}
    nav.menunav h2{margin-right: 10%;}

    div.busqcontain{
        font-size: 200%;
        margin-right: 15%;
    }

    form.form-busq button{
        font-size: 80%;
    }

    section.sectionAlbum{display: flex;}

    article.busqcontain{align-items: center;}

    section.articles{
        display: flex;
        gap: 1%;
        margin-top: -30px;
    }
    .structure{
        width: 20%;
        display: block;
        text-align: center;
    }

    .structure img{
        width: 150px;
        height: 150px;
    }

    .structure h3, .structure h4{
        text-align: center;
        font-size: larger;
    }

    article.footer{height: 60px;}
    
    ul.ulfoot li a{
        font-size: 30px;
        margin: 40px;
    }

    .resultados-chart{
        display: flex,}

    .genresdisplay{display: flex; width: 100%;}
    .divgeneros{
        width: 20%;
        padding: 5px;
        margin: 10px;
    }

    .detailalbum h2{
        font-size: larger;
    }
    
    article.detailalbum{width: 20%;}
    
    section.track{display: flex;}
    article.detailsongs img.img{width: 100%; height: 40%;}
    article.detailsongs{width: 20%;}
    article.detailsongs h2,h3{font-size: larger;}
    section.genres{display: flex;}
    article.genresvariados{
        margin: 10px;
        width: 20%;
    }
    article.genresvariados img{height: 150px}
    h1.title{
        font-size: larger;
        text-align: left;
    }
    section.artists{display: flex; width: 100%}
    article.detailartist{
        width: 25%;
    }
    article.detailartist h2{
        font-size: larger;
    }

}
