*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

li{
    list-style: none;
}

header{
    background-color: rgba(85, 85, 129, 0.377);
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    max-width: 95%;
    margin: 2.5% auto;
    align-items: center;
    justify-content: flex-end;
}

ul.navigation{
    display: flex;
    max-width: 50%;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: flex-start;
}

ul.navigation li{
    font-size: 150%;
}

.busqcontain{
    justify-content: right;
    max-width: 20%;
}

.form-busq{
    justify-content: flex-end;
    border-bottom: solid 1.5px rgb(19, 19, 131);
    display: flex;
    padding: 5px;
    background-color: none;
}

input, button{
    border: none;
    background-color: transparent;
}

input{
    max-width: 85%;
    font-family: 'Montserrat', sans-serif;
}

button{
    color: rgb(19, 19, 131);
}

ul.navigation li a{
    color: rgb(19, 19, 131);
}

ul.navigation li{
    padding: 0 5% 0 5%;
}

.canciones{
    display: flex;
    max-width: 95%;
    margin: 2.5%;
    align-items: center;
    justify-content: flex-end;
}

.structure{
    justify-content: space-between;
    margin: left;
    width: 180px;
    height: 200px;
}

.img {
    width: 150px;
    height: 130px;
}
   
.decoration {
    color: black;
    text-decoration: none;
}
.displayflex {
display: flex;
}
.titulos1 {
text-align: left;
}
.titulos2 {
    text-align: left;
}